#menu{
	margin-top: -40px;
	list-style:none;
	width:100%;
}

#menu tr th{ display: inline; }

#menu tr th {
	padding: 14px 40px;
	display: inline-block; 
	background-color:#A020F0;
	color: white;
	font-weight: bold;
	font-family: arial;
	text-decoration: none;
	font-size: 18px;
	width:8%;
}

#menu tr td {
	padding: 14px 40px;
	display: inline-block; 
	background-color:white;
	font-family: arial;
	text-decoration: none;
	font-size: 14px;
}

td { 	
	width:9%;
	background-color:white;
	font-family: arial;
	text-decoration: none;
	font-size: 18px;
}
